.bg-purple{
    background-image: linear-gradient(to bottom right, #f8f847, #bd7bff); /* body */
}
.purple{
    color: #757575;
}

.bg-purple-2{
    background-color: #aea4b8;   /* text */
}
.purple-2{
    color: #aea4b8;
}

.bg-purple-3{
    background-color: #1a1524;   /* nav */
}
.purple-3{
    color: #1a1524;
}

.bg-purple-4{
    background-color: #5237ca81;
}

.bg-yellow{
    background-color: #fff04d;
}

.yellow{
    color: #fff04d;
}
.bg-preto{
    background-color: #000000a9;
}
.preto{
    color: #000000a9;
}


