/* fonts link */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
    /* min-height: 100px; */
    background-image: linear-gradient(to bottom right, #f8f847, #bd7bff);
    font-size: 20px;
}

/* CLASS */

.cabin-font{
    font-family:'Cabin', sans-serif;
}

/* MOBILE */

@media screen and (max-width:991px){

    .fs-card{
        font-size:22px;
    }

    .px-5{
        padding:0 !important;
        margin:0 !important;
    }

    .pe-5{
        padding:0 !important;
    }

    .mx-5{
        margin:0 !important;
    }

    .navbar-dark .navbar-toggler {
        color: #1a1524;
        border:#1a1524;
    }

    .navbar-dark .navbar-toggler:hover {
        color: #b638ff;
        border:#b638ff;
    }
}


